.searchPage{
    width: 99.89%;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}
.searcBackbtn{
    margin-right: 40px;
    width: 70px;
    height: 36px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(216, 113, 216);
}
.searchContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 46%, rgba(73, 53, 86, 0.7) 46%);
}
.searchTop{
    position: fixed;
    width: 99.89%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    background-color: black;
}
.searchFrom{
    border: 3px solid rgba(142, 142, 142, 0.645);
    width: 600px;
    height: 40px;
    border-radius: 20px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    outline: none;
    font-size: 18px;
}
input::placeholder{
    font-size: 18px;
    font-weight: 700;
}
.searchInput{
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    width: 540px;
    margin-left: 14px;
}

.searchIcon{
    padding: 2px;
    margin-right: 14px;
    cursor: pointer;
    color: white;
}

.searchbtn{
    background-color: transparent;
    border: none;
    outline: none;
}
.emptyBkt{
    display: flex;
    width: 1340px;
    justify-content: center;
    opacity: 0.6;
    height: 10px;
}

.pickedB{
    margin-top: 120px;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    width: 90%;
    gap: 20px;
    min-height: 40vh;
    margin-bottom: 60px;
}

